html , body, a{
  margin: 0;
  padding: 0;
  z-index: 1;
  background-color: #f7f7f7 !important;
}
#particles-js{
  height: 100vh;
  background-color: #f7f7f7;
  z-index: -999;
}
.wrapper{
  color: #222;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: -100vh;
  justify-content: center;
  align-items: center;
}
.wrapper h1{
  font-family: 'Jost', sans-serif;
  font-size: 8vh;
}
.wrapper h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
}
.inner{
  display: flex;
}
.cursor{
  animation: blink 0.2s infinite;
}
@keyframes blink{
  0%{
    opacity: 1;
  }
  100%{
    opacity: .1;
  }
}
.scroll-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
}
.down{
  color: blue;
  z-index: 10;
  cursor: pointer;
  animation: move 2s infinite;
  margin-top: -45px;
}
@keyframes move{
  0%{
    margin-top: -50px;
  }
  100%{
    margin-top: -35px;
  }
}
.navbar{
  height: 11vh;
  overflow: hidden;
  width: 100%;
  background-color: #f7f7f7;
}
.navbar-nav{
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}
.navbar-collapse{
  margin-right: 5%;
}
.nav-item{
  padding: 15px !important;
  font-size: 1.2rem;
  color: #222;
  background-color: #f7f7f7 !important;
  font-style: 'Jost', sans-serif !important ;
}

footer{
  background-color: #222;
  z-index: +10;
  color: #f7f7f7;
  height: fit-content;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer a{
  background-color: #222;
}
.about{
  height: fit-content;
  padding-top: 11vh;
}
.about h4{
  font-family: 'Jost', sans-serif;
  color: #222;
  font-size: 1.75rem;
}
.about p{
  font-style: 'Jost', sans-serif;
  color: #222;
  font-size: 3vh;
  line-height: 3vh;
}
.about .dp{
  height: 30vh;
  width: 30vh;
  border: 2px solid #222;
  padding: 1px;
}
.about .intro{
  margin-top: 2%;
}
.image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image .btn{
  margin: 1.5%;
}
.certifications{
  display: flex !important;
  flex-direction: column; 
  align-items: center !important;
  justify-content: center !important;
}
.carousel-item img{
  height: 35vh !important;
}
.wrap{
  margin-top: 3%;
  font-family: 'Montserrat', sans-serif;
  display: flex !important; 
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  color: #222;
}
.wrap p{
  margin-top: 2%;
  font-size: 2vh;
}
@media screen and (max-width:576px){
  .w-75{
    width: 60% !important;
  }
  .nav-item{
    font-size: 0.8rem !important;
  }
}

.btn{
  background-color: #222 !important;
  border-color: #222 !important;
  color: #f7f7f7 !important;
  margin-top: 1%;
}
.btn :active{
  color: #222 !important;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}
.social{
  margin: 2%;
}
.fab{
  color: #222;
  margin: 0% 1%;
}
.inner-wrap{
  padding-top: 11vh;
}
.project{
  height: 198px;
  width: 350px;
  padding: 1%;
  border: 2px solid #222;
  z-index: 99;
}
.overlay{
  height: 198px;
  width: 350px;
  background-color: #222;
  margin-top: -198px;
  opacity: 0;
  z-index: -99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap-project:hover .overlay{
  z-index: +100;
  opacity: .9;
  transition-duration: .6s ease;
}
.overlay button{
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #f7f7f7;
  background-color: #222;
  color: #fff;
}
button:focus{
  border-color: #f7f7f7;
}
button :active{
  border-color: #f7f7f7;
}
.portfolio .col-md-8 .row{
  margin-top: 2%;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project .col-12 .col-lg-4{
  margin-top: 5% !important;
}
#projectImage{
  width: 100%;
  margin: 2% 0%;
  padding: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4),0 6px 20px 0 rgba(0, 0, 0, 0.29) ;
}
.modal-body{
  background-color: #f7f7f7 !important;
}
.modal-header{
  background-color: #f7f7f7;
}
.modal h5, strong{
  font-family: 'Montserrat', sans-serif;
}
.portfolio h5{
  font-family: 'Montserrat', sans-serif;
}